<ion-header>
  <ion-navbar>
   <ion-grid>
      <ion-row justify-content-center>
        <ion-col col-2>
        </ion-col>
        <ion-col col-8>
          <ion-title>
            Agenda Telefonica
          </ion-title>
        </ion-col>
        <ion-col col-2>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-navbar>
</ion-header>

<ion-content>
  <!--<ion-list>
    <ion-item>
      <ion-label fixed>Username</ion-label>
      <ion-input ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Password</ion-label>
      <ion-input type="text"  ></ion-input>
    </ion-item>
    <p>{{contacto | json}}</p>
    <button  (click)="guardar()" ion-button>guardar</button>
  </ion-list>
-->
<form method="post">
  <ion-list>
    <ion-item>
      <ion-label stacked>Nombre:</ion-label>
        <ion-input [(ngModel)]="contacto.nombre" name="nombre" placeholder="Digite su nombre"></ion-input>
      </ion-item>
    <ion-item>
      <ion-label stacked>Apellido:</ion-label>
      <ion-input [(ngModel)]="contacto.apellido" name="apellido" placeholder="Digite su apellido"></ion-input>

    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label stacked>Telefono:</ion-label>
    <ion-input [(ngModel)]="contacto.telefono" name="telefono" placeholder="Digite su telefono"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Correo:</ion-label>
    <ion-input [(ngModel)]="contacto.email" name="email" placeholder="Digite su correo electronico"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha de Nacimiento</ion-label>
    <ion-datetime type="date"></ion-datetime>
    <ion-input [(ngModel)]="contacto.fecnac" name="fecnac" placeholder="Digite su fecha de nacimiento"></ion-input>
  </ion-item>
   <div radio-group>
  <ion-list-header>
     Genero
   </ion-list-header>
     <ion-item>
       <ion-label>Masculino</ion-label>
       <ion-radio value="M"></ion-radio>
     </ion-item>
     <ion-item>
       <ion-label>Femenimo</ion-label>
       <ion-radio value="F"></ion-radio>
     </ion-item>
     <ion-input [(ngModel)]="contacto.sexo" name="sexo" placeholder=""></ion-input>
   </div>
   <div padding>
      <button ion-button (click)="guardar()" type="submit">Guardar</button>
      <button ion-button type="button">Cancelar</button>
    </div>
</form>

</ion-content>
